div, header, aside, footer{
    background-color: rgb(184, 184, 184);
    border: 1px solid black;
}
@media screen and (max-width: 960px){
    footer{
        border-top: none ;
    }
    aside{
        border-top: none ;
    }
    .upper_half_squre, .middle_half_squer{
        border-top: none ;
    }
    .middle_half_squer:nth-of-type(even){
        border-left: none ;

    }

}
@media screen and (min-width: 960px){
    footer{
        border-top: none ;
        border-left: none;
    }
    aside{
        border-top: none ;
    }
    div{
        border-top: none ;
        border-left: none;
    }
    
}
